<header class="profile">
    <h1 style="font-size:30px;">{{ .Site.Title }}</h1>

    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="avatar" src="{{ "/images/profile_2.png" | relURL }}" />
        </a>
    {{ else }}
        <img style="display: inline-block; width: 200px; height: 200px; border-radius: 50%;"class="avatar" alt="avatar" src="{{ "/images/profile_2.png" | relURL }}" />
    {{ end }}

    <h3 style="font-size:19px;">I am a <b>PhD student</b> at Korea Advanced Institute of Science and Technology (<b>KAIST</b>) advised by <b>Professor Jaegul Choo</b>.<br></h3>


    <h1 style="font-size:27px;"><br>Research Interest</h1>
    <h2>Robustness of AI | Out-of-distribution Detection | Debiasing</h2>
    
    <h1 style="font-size:27px;"><br>Research</h1>
    <!-- {{ with .Site.Params.Bio }}
      <h2>{{ . | markdownify }}</h2>
    {{ end }} -->
</header>